{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>
    
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('_new') }}">Create a new book</a>
            </li>
        </ul>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Cover</th>
                <th>File</th>
                <th>Readit</th>
                <th>Allowdownload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                {% if book.cover %}
                    <td><img src="{{asset('uploads/covers/') ~ book.cover}}"/></td>
                {% endif %}
                {% if book.file %}
                    <td><img src="{{asset('uploads/files/') ~ book.file}}"/></td>
                {% endif %}
                <td>{% if book.readIt %}{{ book.readIt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if book.allowDownload %}Yes{% else %}No{% endif %}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('_edit', { 'id': book.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
